body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-side {
    flex: 1;
    background-color: #01246e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color:#6F7BC5;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.email
 {
    margin-bottom: 20px;
}

h4 {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 10px;
}

input[type="email"]
 {
    width: 100%;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 1rem;
    color: black;
}

button {
    background-color: #2d3fb7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 7px;
}

button:hover {
    background-color: #edd6d1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .right-side {
        padding: 20px;
    }

    input[type="email"]
 {
        width: 80%;
        border: 1px solid #dcdde1;
        border-radius: 4px;
        font-size: 1rem;
        color: black;
    }

    .left-side img {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        padding-top: 350px;
    }
}

