body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 25%;
    background-color: #f7b0a0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    overflow-y: auto; /* Allows scrolling within the left side if the content overflows */
}

a {
    color: #C85B43;
    text-decoration: none;
}

a:hover {
    color: #d88370;
    text-decoration: none;
}

.left-side h1 {
    margin-bottom: 20px;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons a {
    text-decoration: none;
}

.buttons button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #C85B43;
    color: white;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
}

.buttons button i {
    margin-right: 10px;
}

.right-side {
    width: 75%;
    margin-left: 25%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.right-side input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.filters select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.food-section {
    margin-bottom: 40px;
}

.food-section h2 {
    margin-bottom: 20px;
    color: #333;
}

.food-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
}

.food-item,.food-item1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
}

.food-item img,.food-item1 img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.food-item h3,.food-item1 h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.food-item p, .food-item1 p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.food-item a,.food-item1 a {
    font-size: 14px;
    color: #C85B43;
    text-decoration: none;
}

h3{
    font-size: 16px;
    font-weight: bolder;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left-side {
        width: 25%;
    }

    .right-side {
        width: 75%;
    }
    .filters {
        display: flex;
        flex-direction: row;
    }

    .filters select {
        width: calc(33.33% - 10px);
        margin-right: 10px;
    }

    .food-item,.food-item1 {
        padding: 8px;
    }

    .food-item img,.food .food-item1 {
        margin-bottom: 8px;
    }

    .food-items {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}