body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-side {
    flex: 1;
    background-color:#01246e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #6F7BC5;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.username,
.password {
    margin-bottom: 20px;
}

h4 {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 1rem;
    color: black;
}

.forgot {
    margin-bottom: 20px;
}

.forgot a {
    font-size: 0.9rem;
    color: white;
    text-decoration: underline;
}

button {
    background-color:#2d3fb7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 7px;
}

button:hover {
    background-color: #edd6d1;
}

.dont-have-account {
    text-align: center;
    margin-top: 20px;
}

.dont-have-account a {
    color: #fff;
    text-decoration: none;
}

.dont-have-account a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .right-side {
        padding: 20px;
    }

    
input[type="text"],
input[type="password"] {
    width: 80%;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    
    font-size: 1rem;
    color: black;
}
.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
padding-top:350px;}
}
